<nav class="header-brown">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Séamus Roasters</a>
    <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul> -->
  </div>
</nav>

<div class="parallaxBox coffeeCup"></div>

<div class="white center-align">
  <h5 class="fancyScript">Catchy Coffee Tagline</h5>
</div>

<div class="parallaxBox pouringPic"></div>

<div class="white paragraph-and-picture">
  <div class="infoBox lefty">
    <div class="textBox valign-wrapper">
      <p class="fancyScript valign">At Séamus Roasters, we like good coffee. We also dislike bad coffee. When we encounter mediocre coffee, we treat it the same way we'd treat bad coffee. That's why we started roasting: because now we can make all the good coffee we want, and never have to think about that bad, or mediocre, or half-assed, or only decent, or "meh" coffee.</p>
    </div>
  </div>
  <div class="beansPic righty"></div>
</div>
