/* add custom styles */
.header-brown {
  background-color: #926741;
  opacity: 0.7;
}

.parallaxBox {

  height: 50vh;

  /* Create the parallax scrolling effect */
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coffeeCup {
  background-image: url("../images/coffeeCup.jpeg");
}

.pouringPic {
  background-image: url("../images/pouring.jpeg");
}

.beansPic {
  background-image: url("../images/beans.jpg");
}

.fancyScript {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
}

.lefty {
  width: 65vw;
}

.righty {
  /*width: 25vw;*/
  height: 25vh;
  background-size: cover;
  margin: 3%;
  border-radius: 50%;
}

.paragraph-and-picture {
  display: flex;
  align-items: flex-start;
  height: 40vh;
}

.infoBox {
  display: flex;
  align-items: center;
}

.textBox {
  width: 30vw;
}

/*.extraPadding {
  padding-right: 15%;
}*/

.valign-wrapper {
  height: 35vh;
}
